extends layout

block content
  .row.banner
    .col-12
      h1= title
        small &nbsp;List of all circuits
  .row
    .col-12.col-md-8
      .error= message

  .row
    .col-12.col-md-5
      each circuit in circuits
            .card#team
              .card-block.season.side-bar
                h4
                  a(href=`/circuits/${circuit.circuitId}`)= circuit.name
                  p.start_pos= 'Location: ' + circuit.location
                  p.start_pos= 'Country: ' + circuit.country
                  p.start_pos= 'Map: ' + circuit.lat + ", " + circuit.lng
                  
    .col-12.col-md-7
      p.lead Select one or more circuit to view their details
