extends layout

block content
  .row.banner
    .col-12
      h1= circuit.name
  .row
    .col-12.col-lg-12
      .row
        .col-12.col-md-3.buttons
          .card.card-primary.career.side-bar
              .card-block
                h2.card-title= circuit.location
                p.card-text= "Seasons: " + circuit.overall.seasons
                p.card-text= "Lap Record: " + circuit.overall.lap_record 
                p.card-text Most Victories:
                each driver, index in circuit.overall.victories
                  p.card-text= index+1 + ": " + driver.name + " (" + driver.wins + " wins)"
          each season in circuit.full_history
            .card#team
              .card-block.season.side-bar
                h4
                  a(href='/season')= season.season
                  p.start_pos= '1st: ' + season.results[0].name
                  p.start_pos= '2nd: ' + season.results[1].name
                  p.start_pos= '3rd: ' + season.results[2].name
                  p.start_pos= 'Fastest Lap: ' + season.fastest_lap

        .col-12.col-md-9
          .card.card-primary
            .card-block
              h2.card-title Fastest Laps over time
          .card.card-primary
            .card-block
              h2.card-title History
              .card-group
                .card.race.w-20
                  <img class="card-img-top" src="..." alt="Card image cap">
                  .card-block
                    h4.race-title 2017
                    p.race-winner Vettel
                    p.race-winner Raikkonen
                    p.race-winner Ricciardo
                .card.race.w-20
                  <img class="card-img-top" src="..." alt="Card image cap">
                  .card-block
                    h4.race-title 2016
                    p.race-winner Vettel
                    p.race-winner Raikkonen
                    p.race-winner Ricciardo
                .card.race.w-20
                  <img class="card-img-top" src="..." alt="Card image cap">
                  .card-block
                    h4.race-title 2015
                    p.race-winner Vettel
                    p.race-winner Raikkonen
                    p.race-winner Ricciardo
                .card.race.w-20
                  <img class="card-img-top" src="..." alt="Card image cap">
                  .card-block
                    h4.race-title 2014
                    p.race-winner Vettel
                    p.race-winner Raikkonen
                    p.race-winner Ricciardo
                .card.race.w-20
                  <img class="card-img-top" src="..." alt="Card image cap">
                  .card-block
                    h4.race-title 2013
                    p.race-winner Vettel
                    p.race-winner Raikkonen
                    p.race-winner Ricciardo

          .card.card-primary
            .card-block
              h2.card-title Bio and Career
