extends layout

mixin ordinal(driver, position)
  - var s = ["th","st","nd","rd"]
  - var v = position%100
    p.start_pos= driver + ': ' + position+(s[(v-20)%10]||s[v]||s[0])

mixin ordinal_team(n)
  - var s = ["th","st","nd","rd"]
  - var v = n%100
    span.badge.badge-pill.float-right= n+(s[(v-20)%10]||s[v]||s[0])

block content
  .row.banner
    .col-12
      h1= team_new.name
  .row
    .col-12.col-lg-12
      .row
        .col-12.col-md-3.buttons
          .btn-group.btn-block(data-toggle="buttons")
            label.btn.btn-primary.btn-block.active
              input(type="radio" name="options" id="option1" autocomplete="off" checked='')
              | Season
            label.btn.btn-primary.btn-block
              input(type="radio" name="options" id="option2" autocomplete="off" checked='')
              | History
            
          .card.card-primary.season.side-bar
            .card-block
              h2.card-title= team_new.constructorStandings[0].race.year + ' Season'
              .row
                .col-12.col-md-5.card-text
                  p.card-text= "Standing: " + team_new.constructorStandings[0].positionText
                .col-12.col-md-7.card-text
                  p.card-text= "Points: " + team_new.constructorStandings[0].points
          each race in races
            .card#team
              .card-block.season.side-bar
                h4
                  a(href=`/races/${race.raceId}`)= race.raceInfo.name
                  small &nbsp;
                  span.badge.badge-pill.float-right= race.driver_1.points + race.driver_2.points
                  .row
                    .col-12.col-md-6
                      if race.driver_1.position === null
                        p.start_pos= race.driver_1.driverInfo.surname + ': ' + race.driver_1.positionText
                      else
                        +ordinal(race.driver_1.driverInfo.surname, race.driver_1.position)
                    .col-12.col-md-6
                      if race.driver_2.position === null
                        p.start_pos= race.driver_2.driverInfo.surname + ': ' + race.driver_2.positionText
                      else
                        +ordinal(race.driver_2.driverInfo.surname, race.driver_2.position)

          .card.card-primary.career.side-bar
            .card-block
              h2.card-title History
              .row
                .col-12.col-md-5.card-text
                  p.card-text= "Seasons: " + team.overall.seasons
                  p.card-text= "WCC: " + team.overall.wcc
                  p.card-text= "Best: " + team.overall.best_wcc
                .col-12.col-md-7.card-text
                  p.card-text= "Prix: " + team.overall.grands_prix
                  p.card-text= "Points: " + team.overall.points
                  p.card-text= "Best: " + team.overall.best_finish


          each season in team.full_history
            .card#team
              .card-block.season.side-bar
                h4
                  a(href='/season')= season.season
                  small &nbsp;
                  +ordinal_team(season.finish)
                  p.start_pos= 'Points: ' + season.points
                  each driver in season.drivers
                    +ordinal(driver.name, driver.finish)

        .col-12.col-md-9
          .card.card-primary
            .card-block
              h2.card-title Team Points Race
          .card.card-primary
            .card-block
              h2.card-title Race Results
              .card-group
                .card.race.w-20
                  <img class="card-img-top" src="..." alt="Card image cap">
                  .card-block
                    h4.race-title Monaco
                    p.card-text 2017
                .card.race.w-20
                  <img class="card-img-top" src="..." alt="Card image cap">
                  .card-block
                    h4.race-title Canada
                    p.card-text 2017
                .card.race.w-20
                  <img class="card-img-top" src="..." alt="Card image cap">
                  .card-block
                    h4.race-title Azerbaijan
                    p.card-text 2017
                .card.race.w-20
                  <img class="card-img-top" src="..." alt="Card image cap">
                  .card-block
                    h4.race-title Austria
                    p.card-text 2017
                .card.race.w-20
                  <img class="card-img-top" src="..." alt="Card image cap">
                  .card-block
                    h4.race-title Belgium
                    p.card-text 2017

          .card.card-primary
            .card-block
              h2.card-title History
