extends layout

block content
  .row.banner
    .col-12
      h1 Teams
        small &nbsp;List of all teams
  .row
    .col-12.col-md-8
      .error= message

  .row
    .col-12.col-md-4
      each team in teams
        .card#team
          .card-block.season.side-bar
            h4
              a(href=`/teams/${team.constructorId}`)= team.name
              small &nbsp;
              span.badge.badge-pill.badge-default.float-right= "YEAR - YEAR"
              .row
                .col-12.col-md-6
                  p.start_pos= 'Most Recent Finish: PLACE'
                .col-12.col-md-6
                  p.start_pos= 'Nationality: ' + team.nationality
              .row
                .col-12
                  p.start_pos= 'Last Drivers:'
              .row
                .col-12.col-md-1
                .col-12.col-md-5
                  p.start_pos= 'Driver 1 [PTS]'
                .col-12.col-md-5
                  p.start_pos= 'Driver 2 [PTS]'

    .col-12.col-md-8
      p.lead Select one or more driver to view their details
